<section class="main-content">
    <h1 style="text-align: center;">Create Employee</h1>
    <div class="section-body">
        <div class="card" style="margin-left: 10px;">
        <form class="viewEmployeeForm">
            
            <mat-form-field class="example-full-width" style="margin-left: 10px; margin-top: 10px; width: 50%;">
              <mat-label>First Name</mat-label>
              <input type="email" matInput [formControl]="firstName" placeholder="Your First Name">
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-left: 10px; margin-top: 10px; width: 50%;">
                <mat-label>Last Name</mat-label>
                <input type="email" matInput [formControl]="lastName" placeholder="Your Last Name">
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-left: 10px; margin-top: 10px; width: 50%;">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailId" placeholder="Your Email Address">
              </mat-form-field>

             <mat-form-field class="example-full-width" style="margin-left: 10px; margin-top: 10px; width: 50%;">
                <mat-label>Mobile</mat-label>
                <input type="email" matInput [formControl]="mobile" placeholder="Your Email Address">
              </mat-form-field>

            <div>
                <button (click)="createEmployee()" mat-raised-button color="primary" style="margin-left: 10px; margin-bottom: 10px;">Create</button>
            </div>
        
          </form>
        </div>
    </div>
</section>